body {
	font-family: 'Ubuntu', sans-serif;
	line-height: 30px;
	background: url('img/back.jpg') no-repeat;
	background-size: 100%; 
}

.container {
	display: flex;
	justify-content: space-around;
	width: 80%;
	height: 75vh;
	margin: 0 auto;
	margin-top: 6%;
	background-color: #FAF2C5;
	border: 8px ridge #89794D;
} 

.addcontainer {
	display: flex;
	justify-content: center;
	width: 80%;
	height: 75vh;
	margin: 0 auto;
	margin-top: 6%;
	background-color: #FAF2C5;
	border: 8px ridge #89794D;
}

.images {
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.element {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 26px;
}

.text {
	line-height: 50px;
	margin: 0 5%;
}

.addtext {
	width: 30%;
	line-height: 34px;
	font-size: 20px;
	margin-right: 3%;
}

.photodir {
	height: 94.5%;
}

.name {
	font-weight: 800;
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
}

.photo {
	width: 15vw;
	height: auto;
	margin: 0 1%;
}



