body {
	font-family: 'Ubuntu', sans-serif;
	line-height: 30px;
	background: #E8D4A9;
	text-align: center;
}

.container {
	margin: 0 auto;
	background-color: #FAF2C5;
	border: 8px ridge #89794D;
} 

.photo {
	width: 500px;
	height: 300px;
}



